In [1]:
import pandas as pd
import numpy as np

# Data Processing

In [2]:
train_data = pd.read_csv('train.csv')

In [3]:
train_data.columns

Index(['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
       ...
       'x136', 'x137', 'x138', 'x139', 'x140', 'x141', 'x142', 'x143', 'x144',
       'x145'],
      dtype='object', length=146)

In [4]:
len(train_data)

9999

In [5]:
train_data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,NO,NO,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,YES,NO,YES,2,0.375535,0.464610
1,2,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.510,4678,3306,YES,NO,YES,4,0.741682,0.593630
2,3,NO,NO,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,NO,NO,NO,1,0.776467,0.493159
3,4,YES,NO,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,NO,NO,YES,3,0.168234,0.546582
4,5,NO,NO,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,NO,NO,NO,1,0.246637,0.361045

In [6]:
train_data.isnull().sum()

id         0
x1      1426
x2      1426
x3      1426
x4      1426
        ...
x141       0
x142       0
x143       0
x144       0
x145       0
Length: 146, dtype: int64

In [7]:
train_data.dropna(inplace=True)

In [8]:
train_data

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,NO,NO,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,YES,NO,YES,2,0.375535,0.464610
2,3,NO,NO,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,NO,NO,NO,1,0.776467,0.493159
3,4,YES,NO,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,NO,NO,YES,3,0.168234,0.546582
4,5,NO,NO,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,NO,NO,NO,1,0.246637,0.361045
5,6,NO,NO,cz26ErvsEb3tZqeaIlmLIwjn8D7YVXYynSLV1WltcUk=,olN1LoaeSyI8h+udI/jquozrw4R8YQ+cVwHq1dOUO5s=,1.413677,0.000000,1.000000,0.000000,0.667724,...,0.0,1.000,1261,892,YES,NO,YES,2,0.263453,0.659001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,NO,NO,jComfqYTXYSeH3GvqcOhwPmldb+BCdVJDKKDNkdtw2w=,Kr2CC15nSwDjdpyAeVh4vOuIaHuC/Q7cL9BAK28JoG8=,1.207136,0.082855,0.918960,0.313880,0.495189,...,0.0,0.810,4677,3307,YES,NO,YES,1,0.502268,0.486637
9995,9996,NO,NO,Pr5enXjzVzVjZziZxrDcgnyu6CLUftmEbnp6TctyJbU=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,1.414798,0.000000,1.000000,0.000000,0.357369,...,0.0,1.000,1262,892,YES,NO,YES,15,0.890135,0.346276
9996,9997,YES,YES,9Avs0tL1zvH7Xx41z2UqrXs11/4IWLmqRAodLt/SKjQ=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,1.413677,0.000000,1.000000,0.000000,0.668517,...,0.0,1.000,1261,892,YES,NO,YES,5,0.726457,0.659001
9997,9998,NO,NO,9zkXU3f6YnRPjsWi3lKSCLseIGrleg00tpRI4OplABw=,gOZBAoajyr6i7GgON0N7q5+KE4JTwH3OUM0lZOWMuG8=,1.294118,0.000000,1.000000,0.000000,0.570707,...,1.0,1.000,1188,918,NO,NO,NO,3,0.450980,0.561448
9998,9999,YES,YES,MZZbXga8gvaCBqWpzrh2iKdOkcsz/bG/z4BVjUnqWT0=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,0.660897,0.042735,0.946581,0.086966,0.510278,...,0.0,0.880,3308,4680,YES,NO,YES,0,0.604274,0.499395

In [9]:
columns = [i for i in train_data.columns]

In [10]:
test_data = pd.read_csv('test.csv',names=columns)
train_label  = pd.read_csv('trainLabels.csv')

In [11]:
test_data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1698001,NO,NO,5KaYd5siHnBD/IjH8BF1fPz5zrCADHZia/Lrhlyxkvc=,FzMc/XY2ETaomhy8gPc9UL8LRkEnQA56+/wVF1fogk8=,1.414798,0.000000,1.000000,0.000000,0.202060,...,0.0,1.000000,1262,892,NO,NO,NO,0,0.089686,0.193344
1,1698002,NO,NO,9ACcuXc7MMm9V7jZSr3P3VxAKyMvLAtsdwPKwgncc+k=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,0.832679,0.049834,0.945938,0.317427,0.482021,...,1.0,0.866667,4672,3311,NO,NO,NO,5,0.945032,0.471318
2,1698003,NO,NO,MeBJ/ZzEIXfNKat4w1oeDxiMNKrAeY0PH41i00hpYDo=,tnLDGLnpYhzsik5+X+WPo4KQJoQA0TfWRlmEtQ3XNJQ=,1.415919,0.000000,1.000000,0.000000,0.703088,...,-1.0,1.000000,1263,892,NO,NO,NO,8,0.557175,0.693587
3,1698004,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.870000,4672,3306,YES,NO,YES,0,0.870538,0.405822
4,1698005,NO,NO,uduY7XWJ8eFgTltv5P0rPh5GW6KwBu+tPFH13uQRN+0=,0L7+hNDV8S57etySgdljbm2AK1zQuLP77lGk2hyEmCo=,1.129212,0.087020,0.814240,1.112804,0.874318,...,0.0,0.870000,4400,3413,YES,NO,YES,2,0.224729,0.870909

In [12]:
test_data.isnull().sum()

id        0
x1      294
x2      294
x3      294
x4      294
       ...
x141      0
x142      0
x143      0
x144      0
x145      0
Length: 146, dtype: int64

In [13]:
test_data.dropna(inplace=True)

In [14]:
test_data

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
1,1698002,NO,NO,9ACcuXc7MMm9V7jZSr3P3VxAKyMvLAtsdwPKwgncc+k=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,0.832679,0.049834,0.945938,0.317427,0.482021,...,1.0,0.866667,4672,3311,NO,NO,NO,5,0.945032,0.471318
2,1698003,NO,NO,MeBJ/ZzEIXfNKat4w1oeDxiMNKrAeY0PH41i00hpYDo=,tnLDGLnpYhzsik5+X+WPo4KQJoQA0TfWRlmEtQ3XNJQ=,1.415919,0.000000,1.000000,0.000000,0.703088,...,-1.0,1.000000,1263,892,NO,NO,NO,8,0.557175,0.693587
4,1698005,NO,NO,uduY7XWJ8eFgTltv5P0rPh5GW6KwBu+tPFH13uQRN+0=,0L7+hNDV8S57etySgdljbm2AK1zQuLP77lGk2hyEmCo=,1.129212,0.087020,0.814240,1.112804,0.874318,...,0.0,0.870000,4400,3413,YES,NO,YES,2,0.224729,0.870909
5,1698006,NO,NO,kM4KU87XvnvKRvf4dN3Tu4zQYq8fpcqhDTFADWdfCg8=,4LhhvTzxwvh2SnFtcpaRasyvph66a3YDIQCshAfyS2o=,1.415919,0.000000,1.000000,0.000000,0.232779,...,0.0,1.000000,1263,892,YES,NO,YES,6,0.536996,0.223278
6,1698007,NO,NO,NMFPnlbm6YWoxpG5KdcfdDMWWSZ7FYAUlJoLtkBBf9k=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.414798,0.000000,1.000000,0.000000,0.323296,...,-1.0,1.000000,1262,892,YES,YES,YES,2,0.863229,0.323296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993,1699994,NO,NO,X/hdUOVR5KuExVGLzjhLcM2CyIqym9t0Nh+ZX05M+1w=,+yhSY//Hpg7u0bSA7NYmcmRFgv3bF4Tw3BMHrBqaTtA=,1.415919,0.000000,1.000000,0.000000,0.297704,...,0.0,1.000000,1263,892,NO,NO,NO,11,0.809417,0.288203
1995,1699996,NO,NO,Z6vucL/W0MPoFsgu2ewNXrvNCAQFiKzUJTYuqh6lP28=,yhI9Bw5Q8l1vEll4sw/Tem/jojpE9KwjKvQQIyrAqgU=,1.294118,0.000000,1.000000,0.000000,0.164141,...,0.0,1.000000,1188,918,YES,NO,YES,2,0.198257,0.155724
1996,1699997,NO,NO,LKQ9Uh6tQ3ZrIxAKaPaDEuiYFunnK/2d+oKAfpN9tuY=,h0cPLYjd7nmw9FJsQA+KUsnChH0SajbHjNdfMk47k9o=,1.020217,0.583944,0.625842,1.003516,0.791136,...,0.0,0.720000,4400,3413,YES,NO,YES,0,0.582479,0.778864
1997,1699998,NO,NO,/tuZYGMsFx4A/Ou+jSol6t/TpLRkSl8Ku+1tnQPvwww=,aLEeZ8ZFKt2jQfkG5e9Nmad+QJlfpPmSfQS3CHlL6Ik=,0.354706,0.550882,0.930882,0.207941,0.207500,...,0.0,0.845000,4400,3400,NO,NO,NO,5,0.930588,0.201591
1998,1699999,NO,NO,uMIU2KDOxlgzhYToCFCa3nMxIOPV0WqCnKWfooGaw+8=,4LhhvTzxwvh2SnFtcpaRasyvph66a3YDIQCshAfyS2o=,1.220588,0.102059,0.326176,1.213824,0.942955,...,1.5,0.676667,4400,3400,NO,NO,NO,2,0.256471,0.938182

In [15]:
train_label.head()

,id,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
train_label.isnull().sum()

id     0
y1     0
y2     0
y3     0
y4     0
y5     0
y6     0
y7     0
y8     0
y9     0
y10    0
y11    0
y12    0
y13    0
y14    0
y15    0
y16    0
y17    0
y18    0
y19    0
y20    0
y21    0
y22    0
y23    0
y24    0
y25    0
y26    0
y27    0
y28    0
y29    0
y30    0
y31    0
y32    0
y33    0
dtype: int64

# Encoding

In [18]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [19]:
yes_no_columns=[]
for col in train_data.columns:
    if train_data[col].isin(['YES','NO']).any():
        yes_no_columns.append(col)

In [20]:
yes_no_columns[:5]

['x1', 'x2', 'x10', 'x11', 'x12']

In [21]:
for column in yes_no_columns:
    train_data[column] = lb.fit_transform(train_data[column])
    test_data[column] = lb.fit_transform(test_data[column])

In [22]:
train_data

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,0,0,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,1,0,1,2,0.375535,0.464610
2,3,0,0,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,0,0,0,1,0.776467,0.493159
3,4,1,0,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,0,0,1,3,0.168234,0.546582
4,5,0,0,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,0,0,0,1,0.246637,0.361045
5,6,0,0,cz26ErvsEb3tZqeaIlmLIwjn8D7YVXYynSLV1WltcUk=,olN1LoaeSyI8h+udI/jquozrw4R8YQ+cVwHq1dOUO5s=,1.413677,0.000000,1.000000,0.000000,0.667724,...,0.0,1.000,1261,892,1,0,1,2,0.263453,0.659001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,0,0,jComfqYTXYSeH3GvqcOhwPmldb+BCdVJDKKDNkdtw2w=,Kr2CC15nSwDjdpyAeVh4vOuIaHuC/Q7cL9BAK28JoG8=,1.207136,0.082855,0.918960,0.313880,0.495189,...,0.0,0.810,4677,3307,1,0,1,1,0.502268,0.486637
9995,9996,0,0,Pr5enXjzVzVjZziZxrDcgnyu6CLUftmEbnp6TctyJbU=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,1.414798,0.000000,1.000000,0.000000,0.357369,...,0.0,1.000,1262,892,1,0,1,15,0.890135,0.346276
9996,9997,1,1,9Avs0tL1zvH7Xx41z2UqrXs11/4IWLmqRAodLt/SKjQ=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,1.413677,0.000000,1.000000,0.000000,0.668517,...,0.0,1.000,1261,892,1,0,1,5,0.726457,0.659001
9997,9998,0,0,9zkXU3f6YnRPjsWi3lKSCLseIGrleg00tpRI4OplABw=,gOZBAoajyr6i7GgON0N7q5+KE4JTwH3OUM0lZOWMuG8=,1.294118,0.000000,1.000000,0.000000,0.570707,...,1.0,1.000,1188,918,0,0,0,3,0.450980,0.561448
9998,9999,1,1,MZZbXga8gvaCBqWpzrh2iKdOkcsz/bG/z4BVjUnqWT0=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,0.660897,0.042735,0.946581,0.086966,0.510278,...,0.0,0.880,3308,4680,1,0,1,0,0.604274,0.499395

# convert hash values to numeric

In [23]:
import hashlib
def hash_to_int(hash_string):
    hash_string = str(hash_string)
    hash_object = hashlib.sha256(hash_string.encode())
    return int.from_bytes(hash_object.digest(), 'big')

In [24]:
for column, dtype in train_data.dtypes.items():
    print(dtype)

int64
int32
int32
object
object
float64
float64
float64
float64
float64
int32
int32
int32
int32
int32
int64
float64
int64
int64
float64
float64
float64
int64
int64
int32
int32
int32
int64
float64
float64
int32
int32
int32
int32
object
object
float64
float64
float64
float64
float64
int32
int32
int32
int32
int32
int64
float64
int64
int64
float64
float64
float64
int64
int64
int32
int32
int32
int64
float64
float64
object
int32
int32
object
object
float64
float64
float64
float64
float64
int32
int32
int32
int32
int32
int64
float64
int64
int64
float64
float64
float64
int64
int64
int32
int32
int32
int64
float64
float64
object
int32
int32
object
object
float64
float64
float64
float64
float64
int32
int32
int32
int32
int32
int64
float64
int64
int64
float64
float64
float64
int64
int64
int32
int32
int32
int64
float64
float64
float64
float64
float64
float64
float64
int32
int32
int32
int32
int32
int64
float64
int64
int64
float64
float64
float64
int64
int64
int32
int32
int32
int64
float64
float64

# Checking data for training

In [25]:
for column in train_data.columns:
#     print(train_data[column].dtypes)
    if train_data[column].dtypes == "object":
        print(column)

x3
x4
x34
x35
x61
x64
x65
x91
x94
x95

In [26]:
for column, dtype in train_data.dtypes.items():
    if dtype == 'object':
        train_data[column] = train_data[column].apply(lambda x: hash_to_int(x) % 100000000)

In [27]:
train_data.iloc[:,11:38]

,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,...,x28,x29,x30,x31,x32,x33,x34,x35,x36,x37
0,0,0,0,0,42,0.396065,3,6,0.991018,0.0,...,0.405047,0.464610,0,0,0,0,41037762,42932851,0.576561,0.073139
2,0,1,0,0,2,0.838475,3,5,0.966122,0.0,...,0.872353,0.493159,0,0,1,1,41989977,94188172,1.341803,0.051422
3,0,0,0,0,37,0.127405,8,15,0.959171,0.0,...,0.168234,0.546582,0,0,1,0,93179689,43522992,0.653912,0.041471
4,0,1,0,0,1,0.523543,4,11,0.963004,0.0,...,0.560538,0.361045,0,0,0,0,19890643,34650031,1.415919,0.000000
5,0,0,0,0,8,0.181614,9,7,0.918161,0.0,...,0.263453,0.659001,0,0,0,0,4396467,18857071,1.413677,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,0,0,0,10,0.512852,3,7,0.967342,0.0,...,0.545510,0.486209,0,0,0,0,30796028,1477163,1.207136,0.082855
9995,0,0,0,0,6,0.864350,4,17,0.974215,0.0,...,0.890135,0.346276,0,0,1,1,38048435,48261167,1.414798,0.000000
9996,0,0,0,0,3,0.865471,6,7,0.939462,0.0,...,0.926009,0.659001,1,1,0,0,62393726,54373705,1.413677,0.000000
9997,0,0,0,0,7,0.400871,8,11,0.949891,0.0,...,0.450980,0.561448,0,0,0,0,79238918,70752315,1.294118,0.000000
9998,0,0,0,0,19,0.655128,4,15,0.982051,0.0,...,0.673077,0.500000,1,0,1,0,40604490,28226694,0.660897,0.042735

In [28]:
train_data.iloc[:,11:38]

,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,...,x28,x29,x30,x31,x32,x33,x34,x35,x36,x37
0,0,0,0,0,42,0.396065,3,6,0.991018,0.0,...,0.405047,0.464610,0,0,0,0,41037762,42932851,0.576561,0.073139
2,0,1,0,0,2,0.838475,3,5,0.966122,0.0,...,0.872353,0.493159,0,0,1,1,41989977,94188172,1.341803,0.051422
3,0,0,0,0,37,0.127405,8,15,0.959171,0.0,...,0.168234,0.546582,0,0,1,0,93179689,43522992,0.653912,0.041471
4,0,1,0,0,1,0.523543,4,11,0.963004,0.0,...,0.560538,0.361045,0,0,0,0,19890643,34650031,1.415919,0.000000
5,0,0,0,0,8,0.181614,9,7,0.918161,0.0,...,0.263453,0.659001,0,0,0,0,4396467,18857071,1.413677,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,0,0,0,10,0.512852,3,7,0.967342,0.0,...,0.545510,0.486209,0,0,0,0,30796028,1477163,1.207136,0.082855
9995,0,0,0,0,6,0.864350,4,17,0.974215,0.0,...,0.890135,0.346276,0,0,1,1,38048435,48261167,1.414798,0.000000
9996,0,0,0,0,3,0.865471,6,7,0.939462,0.0,...,0.926009,0.659001,1,1,0,0,62393726,54373705,1.413677,0.000000
9997,0,0,0,0,7,0.400871,8,11,0.949891,0.0,...,0.450980,0.561448,0,0,0,0,79238918,70752315,1.294118,0.000000
9998,0,0,0,0,19,0.655128,4,15,0.982051,0.0,...,0.673077,0.500000,1,0,1,0,40604490,28226694,0.660897,0.042735

In [30]:
merged_data = pd.merge(train_data, train_label, on='id')

In [31]:
# Features
X = merged_data.drop(['id'] + [f'y{i}' for i in range(1, 34)], axis=1)
# Labels
Y = merged_data[[f'y{i}' for i in range(1, 34)]]

In [39]:
Y

,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7397,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7399,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [32]:
train_data.sort_index()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,0,0,82627868,67415144,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,1,0,1,2,0.375535,0.464610
2,3,0,0,12498617,16703188,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,0,0,0,1,0.776467,0.493159
3,4,1,0,93179689,43522992,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,0,0,1,3,0.168234,0.546582
4,5,0,0,96131918,12874591,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,0,0,0,1,0.246637,0.361045
5,6,0,0,4396467,18857071,1.413677,0.000000,1.000000,0.000000,0.667724,...,0.0,1.000,1261,892,1,0,1,2,0.263453,0.659001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,0,0,51808017,70752315,1.207136,0.082855,0.918960,0.313880,0.495189,...,0.0,0.810,4677,3307,1,0,1,1,0.502268,0.486637
9995,9996,0,0,35629299,57500845,1.414798,0.000000,1.000000,0.000000,0.357369,...,0.0,1.000,1262,892,1,0,1,15,0.890135,0.346276
9996,9997,1,1,76678090,48261167,1.413677,0.000000,1.000000,0.000000,0.668517,...,0.0,1.000,1261,892,1,0,1,5,0.726457,0.659001
9997,9998,0,0,19939858,99274320,1.294118,0.000000,1.000000,0.000000,0.570707,...,1.0,1.000,1188,918,0,0,0,3,0.450980,0.561448
9998,9999,1,1,74626603,57500845,0.660897,0.042735,0.946581,0.086966,0.510278,...,0.0,0.880,3308,4680,1,0,1,0,0.604274,0.499395

In [33]:
X

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,0,0,82627868,67415144,0.576561,0.073139,0.481394,0.115697,0.472474,1,...,0.0,0.810,3306,4676,1,0,1,2,0.375535,0.464610
1,0,0,12498617,16703188,1.341803,0.051422,0.935572,0.041440,0.501710,0,...,0.0,0.850,4678,3306,0,0,0,1,0.776467,0.493159
2,1,0,93179689,43522992,0.653912,0.041471,0.940787,0.090851,0.556564,1,...,0.0,0.945,3306,4678,0,0,1,3,0.168234,0.546582
3,0,0,96131918,12874591,1.415919,0.000000,1.000000,0.000000,0.375297,0,...,0.0,1.000,1263,892,0,0,0,1,0.246637,0.361045
4,0,0,4396467,18857071,1.413677,0.000000,1.000000,0.000000,0.667724,0,...,0.0,1.000,1261,892,1,0,1,2,0.263453,0.659001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7397,0,0,51808017,70752315,1.207136,0.082855,0.918960,0.313880,0.495189,0,...,0.0,0.810,4677,3307,1,0,1,1,0.502268,0.486637
7398,0,0,35629299,57500845,1.414798,0.000000,1.000000,0.000000,0.357369,1,...,0.0,1.000,1262,892,1,0,1,15,0.890135,0.346276
7399,1,1,76678090,48261167,1.413677,0.000000,1.000000,0.000000,0.668517,1,...,0.0,1.000,1261,892,1,0,1,5,0.726457,0.659001
7400,0,0,19939858,99274320,1.294118,0.000000,1.000000,0.000000,0.570707,0,...,1.0,1.000,1188,918,0,0,0,3,0.450980,0.561448
7401,1,1,74626603,57500845,0.660897,0.042735,0.946581,0.086966,0.510278,1,...,0.0,0.880,3308,4680,1,0,1,0,0.604274,0.499395

In [34]:
columns_equal = train_data.iloc[:,1:].columns.equals(X.columns)
print(f"Columns are the same: {columns_equal}")

Columns are the same: True

In [36]:
train_data_sorted = train_data.sort_index()

# Reset the index
train_data_sorted_reset = train_data_sorted.reset_index(drop=True)

In [37]:
train_data_sorted_reset

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,0,0,82627868,67415144,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,1,0,1,2,0.375535,0.464610
1,3,0,0,12498617,16703188,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,0,0,0,1,0.776467,0.493159
2,4,1,0,93179689,43522992,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,0,0,1,3,0.168234,0.546582
3,5,0,0,96131918,12874591,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,0,0,0,1,0.246637,0.361045
4,6,0,0,4396467,18857071,1.413677,0.000000,1.000000,0.000000,0.667724,...,0.0,1.000,1261,892,1,0,1,2,0.263453,0.659001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7397,9995,0,0,51808017,70752315,1.207136,0.082855,0.918960,0.313880,0.495189,...,0.0,0.810,4677,3307,1,0,1,1,0.502268,0.486637
7398,9996,0,0,35629299,57500845,1.414798,0.000000,1.000000,0.000000,0.357369,...,0.0,1.000,1262,892,1,0,1,15,0.890135,0.346276
7399,9997,1,1,76678090,48261167,1.413677,0.000000,1.000000,0.000000,0.668517,...,0.0,1.000,1261,892,1,0,1,5,0.726457,0.659001
7400,9998,0,0,19939858,99274320,1.294118,0.000000,1.000000,0.000000,0.570707,...,1.0,1.000,1188,918,0,0,0,3,0.450980,0.561448
7401,9999,1,1,74626603,57500845,0.660897,0.042735,0.946581,0.086966,0.510278,...,0.0,0.880,3308,4680,1,0,1,0,0.604274,0.499395

In [38]:
values_equal = train_data_sorted_reset.iloc[:,1:].equals(X)
print(f"Values are the same: {values_equal}")

Values are the same: True

# Train and Test Split

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings 
warnings.filterwarnings('ignore')

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [43]:
forest = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state=42)

In [47]:
multi_target_forest = MultiOutputClassifier(forest, n_jobs=-1)

In [48]:
multi_target_forest.fit(X_train, Y_train)

MultiOutputClassifier(estimator=RandomForestClassifier(criterion='entropy',
                                                       random_state=42),
                      n_jobs=-1)

In [49]:
forest_predictions = multi_target_forest.predict(X_test)

In [50]:
print(f'Random Forest Accuracy: {accuracy_score(Y_test, forest_predictions)}')

Random Forest Accuracy: 0.7960837272113437

In [51]:
from sklearn.metrics import classification_report 
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [53]:
report = classification_report(Y_test, forest_predictions)

# Print the classification report
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       1.00      1.00      1.00         1
           2       0.94      0.68      0.79        25
           3       1.00      0.29      0.44         7
           4       0.00      0.00      0.00         0
           5       0.79      0.64      0.71        78
           6       0.94      0.47      0.62        64
           7       0.00      0.00      0.00         0
           8       0.91      0.63      0.74        99
           9       1.00      0.23      0.38        13
          10       0.00      0.00      0.00         1
          11       0.83      0.67      0.74        86
          12       1.00      0.50      0.67         4
          13       0.00      0.00      0.00         0
          14       1.00      0.33      0.50         3
          15       1.00      0.13      0.24        15
          16       0.00      0.00      0.00         0
          17       0.00      0.00      0.00         0
          18       0.00      0.00      0.00         1
          19       1.00      1.00      1.00         4
          20       1.00      0.79      0.88        14
          21       0.00      0.00      0.00         8
          22       0.00      0.00      0.00         1
          23       1.00      0.41      0.58        17
          24       1.00      0.40      0.57         5
          25       1.00      0.41      0.58        22
          26       1.00      0.25      0.40        12
          27       1.00      0.75      0.86        12
          28       1.00      0.23      0.38        43
          29       1.00      0.40      0.57        10
          30       1.00      0.21      0.35        19
          31       1.00      0.76      0.86        84
          32       0.91      0.97      0.94       956

   micro avg       0.91      0.80      0.85      1607
   macro avg       0.68      0.37      0.45      1607
weighted avg       0.91      0.80      0.82      1607
 samples avg       0.82      0.82      0.81      1607

In [54]:
f1 = f1_score(Y_test, forest_predictions, average='weighted')
print(f'Model F1 Score: {f1}')

# Calculate precision
precision = precision_score(Y_test, forest_predictions, average='weighted')
print(f'Model Precision: {precision}')

# Calculate recall
recall = recall_score(Y_test, forest_predictions, average='weighted')
print(f'Model Recall: {recall}')

Model F1 Score: 0.8241157133124756
Model Precision: 0.9090684604063571
Model Recall: 0.7977598008711886

In [60]:
forest_predictions

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int64)

# Submission_csv

In [63]:
base_ids = test_data['id'].astype(str)
column = train_label.drop(['id'], axis=1).columns
id_data = [f"{base_id}_{name}" for base_id in base_ids for name in column]
pred_data = [j for i in forest_predictions for j in i] if isinstance(forest_predictions[0], np.ndarray) else forest_predictions

In [64]:
pred_data = pred_data[:len(id_data)]

In [68]:
!pip install datatable

Collecting datatable
  Obtaining dependency information for datatable from https://files.pythonhosted.org/packages/bb/c5/987fcb116df777d2573c8918b7d7bb391405fa0ca3ed209238bf447b7aac/datatable-1.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading datatable-1.1.0-cp311-cp311-win_amd64.whl.metadata (1.8 kB)
Downloading datatable-1.1.0-cp311-cp311-win_amd64.whl (4.7 MB)
   ---------------------------------------- 0.0/4.7 MB ? eta -:--:--
   ------- -------------------------------- 0.9/4.7 MB 19.6 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------- ------------------------------- 1.0/4.7 MB 22.0 MB/s eta 0:00:01
   -------------------------- ------------- 3.1/4.7 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 4.7/4.7 MB 8.9 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.1.0

In [69]:
from datatable import dt

In [70]:
submission_target = dt.Frame(id_label=id_data, pred=pred_data)
submission_target.to_csv("output.csv")

In [71]:
submission_target

In [72]:
import pickle

# Save the model to a file after training it
with open('multi_target_forest_model.pkl', 'wb') as model_file:
    pickle.dump(multi_target_forest, model_file)